body {
    margin: 0;
}

#map {
    height: 640px;
    width: 800px;
}

#mapImg {
    height: 640px;
    width: 800px;
}

#hero {
    background-color: red;
    background: url('images/princessFront.png');
    position: absolute;
    z-index: 1;
}

#obstacle {
    border: 1px solid red;
    background-color: #ff000057;
}
/* wasn't created yet */
#princess {
    background-color: red;
    background: url('images/princessFront.png');
    position: absolute;
    z-index: 1;
}

#teleport {
    border: 1px solid lightblue;
    background-color: #008cff57;
    position: absolute;
}

